.tooltip {
  max-width: 280px !important;
  padding: 20px !important;
  border-radius: 6px !important;
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.content {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
