.container {
  position: relative;
  margin: 100px 0;
}

.blackBackground {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100vw;
  background: black;
  top: -100px;
  height: calc(100% + 200px);
}
